td,th{
    width:100px;
    text-align: center;
    
}
input[type='text']{
    width:100px;
}
.data{
    width:1000px;
}
.header{
    width:100px;
    box-sizing: border-box;
    border: 2px solid silver;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;    
}
.all{
   float:right;
   margin-top:50px;
}
.all td,th{
    width:130px !important;
}
.remove{
    cursor: pointer;
}
.container{
   min-width:1000px;
    min-height: 400px;
    margin:10 auto;
}
.blank{
    display:none;
}
.full{
    display:block;
}
.data_all{
   margin-top:20px;
   margin-bottom: 260px;
}
.data_supplier {
    float:left;
}
.data_supplier td,th{
    width:200px;
}
.data_supplier input{
    width:100%;
}
.data_customer{
    float:right;
}
.data_customer td,th{
    width:200px;
}
.data_customer input{
    width:100%;
}

