td,th{
    width:100px;
    text-align: center;
    
}
input[type='text']{
    width:100px;
}
.data{
    width:1000px;
}
.header{
    width:100px;
    box-sizing: border-box;
    border: 2px solid silver;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;    
}
.all{
   float:right;
   margin-right:250px;
   margin-top:50px;
}
.remove{
    cursor: pointer;
}
